<!DOCTYPE html>
<html ng-app="page">
<head>
    <title>Aphorism44</title>
    <meta name="description" content="Home page for Aphorism 44 software." />
    <meta name="keywords" content="HTML5, JavaScript, PHP, browser games, computer science, programming" />
    <meta name="author" content="Dominic Jesse" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
    <script type="text/javascript" src="javascripts/page.js"></script>
    <script type="text/javascript" src="javascripts/factories.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-controller="NavController as nc">
    <section>
        <nav>
        <ul class="nav_groups" id="ulMenu">
            <li id="liMenu">
                <a href ng-click="setPageTab(1)">Home</a></li>
            <li id="liMenu"> 
                <a href ng-click="setPageTab(2)">About</a></li>
            <li id="liMenu"> 
                <a href="https://aphorism44.wordpress.com" target="_blank">Blog</a></li>
            <li id="liMenu">
               <a href ng-click="setPageTab(3)">Programs</a></li>
            <li id="liMenu">
                <a href ng-click="setPageTab(4)">Links</a></li>
            <li id="liMenu" ng-hide="isLoggedIn()">
                <a href ng-click="setPageTab(5)">Utilities</a></li>
            <li id="liMenu" ng-show="isLoggedIn()">
                <a href="" ng-click="logOut()">Log Out</a></li>
            <li id="liMenu" ng-show="isLoggedIn()">
               <a href ng-click="setPageTab(6)">Edit Updates</a></li>
        </ul>
        </nav>
    </section>
    <!-- the custom directives -->
    <update-view ng-show="isTabSet(1)"></update-view>
    <about-view ng-show="isTabSet(2)"></about-view>
    <publish-view ng-show="isTabSet(3)"></publish-view>
    <link-view ng-show="isTabSet(4)"></link-view>
    <login-view ng-show="isTabSet(5)"></login-view>
    <editupdate-view ng-show="isLoggedIn() && isTabSet(6)"></editupdate-view>
    <br><br>
</body>
<footer><div id="footer" class="smaller"><br><br>Copyright 2017 | Aphorism 44</div></footer>
</html>