<!DOCTYPE html>
<html>
<head>
    <title>Aphorism44</title>
    <meta name="description" content="Home page for Aphorism 44 software." />
    <meta name="keywords" content="HTML5, JavaScript, PHP, browser games, computer science, programming" />
    <meta name="author" content="Dominic Jesse" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script type="text/javascript" src="javascripts/factories.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="page">
     <div class="col-md-6 col-md-offset-3">
    <!--  navigation bar is always visible -->
    <nav-view></nav-view>
    <!-- Templates are inserted in below tag per state machine -->
    <div ui-view></div>
    </div>
</body>
<footer><div id="footer" class="smaller"><br><br>Copyright 2016 | Aphorism 44</div></footer>
</html>