<section>
    <nav>
    <ul class="nav_groups" id="ulMenu">
        <li id="liMenu">
            <a ui-sref="homeState">Home</a></li>
        <li id="liMenu"> 
            <a ui-sref="aboutState">About</a></li>
        <li id="liMenu">
            <a ui-sref="linkState">Links</a></li>
        <li id="liMenu">
            <a ui-sref="editUpdateState">Edit Updates</a></li>
    </ul>
    </nav>
</section>
