<header>
    <h1>About</h1>
</header>
<div id="about">
    <p>I make software for a living, but that doesn't keep me from coding for fun. I pretty much live to program, and I've taught myself more than I ever learned in the classroom or on the job.
    <br><br>
    Here, I document some of my many personal projects. In addition to the web page itself (I created it from scratch and implemented first using the LAMP, and now the MEAN, stack), I've been working on HTML5 games, blog design, and a host of smaller interests.
    <br><br>
    Honestly, pretty much everything about computer science interests me, from game programming and new languages down to the more arcane theoretical areas. This page and blog is where I blow off steam.
    </p>
</div>