<header>
    <h1>About</h1>
</header>
<div id="about">
    <p>Programming is my profession (although "software developer/engineer" sounds better), but it's also my main hobby.<br><br>
        This site is a showcase for whatever parts of my hobby can be shared. I'm just as likely to 
        create <a href="https://play.google.com/store/apps/details?id=com.aphorism44.pokersolitaire&hl=en" target="_blank">a casual HTML5/mobile game</a> 
        as to <a href="http://landoflisp.com/" target="_blank">teach myself Common LISP</a>. And on the side, I enjoy
        the obscure mathematical topics and arcane theory that came with a <a href="http://www.roosevelt.edu/Catalog/Undergraduate/Degree.aspx?ID=178"target="_blank">"traditional" computer science education</a>.<br><br>
        While I'm concentrating on games here, I can't see myself as a game developer. The types of games I enjoy
        aren't that popular; neither are the games I program here.
    </p>
</div>