<h1>Blog</h1>
<br><br>
<a href="https://aphorism44.wordpress.com" target="_blank">
<img src="images/wordpress.png"/>
</a>
<br>
<a href="https://aphorism44.wordpress.com" target="_blank">I have moved my blog to WordPress!</a>