<header>
    <h1>Edit Page Updates</h1>
</header>
<section ng-controller="UpdateCtrl">
    <span ng-repeat="u in updates | orderBy:'-date' track by $index">
        <input type="checkbox" ng-model="updates.selected[u._id]" >
        <strong>{{ u.date | date: 'yyyy-MM-dd' }}</strong>: <span ng-bind-html="u.text | trustAsHtml"></span>
    <br>
    </span><br>
    <input type="submit" value="Delete Updates" name="DeleteUpdateButton" ng-click="deleteUpdate()" />
    <br><br>
    <h4>Enter new updates below.</h4>
    <form name="updateForm" ng-submit="updateForm.$valid && addUpdate()">
        <strong>{{ updateDate | date : 'yyyy-MM-dd' }} </strong>
        <br>
        {{ updateText }}
        <br><br>
        <label>Date: <input type="date" ng-model="updateDate" required></label>
        <br><br>
        <label>Text: <input type="textarea" ng-model="updateText" required></label>
        <br><br>
        <input type="submit" value="Add" name="AddUpdateButton" />
    </form>
</section