<h1>Links</h1>
<br><br>
Here are some sites of interest.
<br><br>
<dl>   
<dt><a href="https://github.com/aphorism44" target=="_blank">My Github Repository</a></dt>
    <dd>Here's where I store all my code. I try to keep the README files and comments clear enough that it's all easily understandable.</dd>
<dt><a href="http://www.newgrounds.com/" target=="_blank">Newgrounds</a></dt>
    <dd>Currently the only site I post my amateur games to anymore. A popular web portal for Flash, they were smart enough to catch the HTML5 bus.</dd>
<dt><a href="http://phaser.io/" target=="_blank">Phaser</a></dt>
<dd>The JavaScript framework I'm making games in now. More robust and up-to-date than enchant.js.</dd>
</dl>
And here are some sites just for fun.
<br><br>
<dl>   
<dt><a href="http://xkcd.com/" target=="_blank">xkcd</a></dt>
<dd>Lots of computer- and math-related humor. Watch out for Bobby Drop Tables!</dd>
<dt><a href="http://thedailywtf.com/" target=="_blank">The Daily WTF</a></dt>
<dd>I've led a charmed life so far - I've never had to maintain code that might end up here....</dd>
<dt><a href="http://condor.depaul.edu/sepp/DMappletsEtc.htm" target=="_blank">Discrete Mathematics Links</a></dt>
<dd>A collection of links illustrating the link between discrete mathematics (the subject that made me go for computer science) and computers. This page is maintained by the professor who wrote my textbook for the class, and who later spoke at my college's math club.</dd>
</dl>
<br>
Last but not least are these sites I'm active on.
<br>
<img src="http://boardgamegeek.com/jswidget.php?username=Lictalon&numitems=5&header=1&text=title&images=small&show=random&imagesonly=1&imagepos=right&inline=1&addstyles=1&showplaydate=1&domains%5B%5D=boardgame&imagewidget=1" border="0"/>
<img src="https://projecteuler.net/profile/domjesse.png"/>