<br><br>
<section>
    <nav>
    <ul class="nav_groups" id="ulMenu">
        <li id="liMenu">
            <a ui-sref="homeState">Home</a></li>
        <li id="liMenu"> 
            <a ui-sref="aboutState">About</a></li>
        <li id="liMenu"> 
            <a ui-sref="blogState">Blog</a></li>
        <li id="liMenu">
            <a ui-sref="publishState">Programs</a></li>
        <li id="liMenu">
            <a ui-sref="linkState">Links</a></li>
        <li id="liMenu" ng-hide="isLoggedIn()">
            <a ui-sref="loginState">Edit</a></li>
        <li id="liMenu" ng-show="isLoggedIn()">
            <a href="" ng-click="logOut()">Log Out</a></li>
        <li id="liMenu" ng-show="isLoggedIn()">
            <a ui-sref="editUpdateState">Updates</a></li>
    </ul>
    </nav>
</section>
