<h1>Available Programs</h1>
<br><br>
Below are some links to programs I've published online in a complete format. Incomplete games (or ones that don't warrant publication) are all available at <a href="https://github.com/aphorism44" target="_blank">my GitHub repository</a>.
<br>
<dl>
    <dt><a href="http://www.newgrounds.com/portal/view/645734" target="_blank"><img src="images/game1.png">
        <br><strong>The Stranger in Town (HTML5 game)</strong></a></dt>
    <dd>Newgrounds. A combination RPG-puzzle game. Added some innovative gameplay features and a neat, simple storyline, but the game engine needed work. <a href="https://github.com/aphorism44/gladePrologue" target="_blank">Code here.</a></dd>
    <dt><a href="http://www.newgrounds.com/portal/view/661204" target="_blank"><img src="images/game2.png">
        <br><strong>Apprentice Wars (HTML5 game)</strong></a></dt>
    <dd>Newgrounds. The sequel to the previous game. While its engine and gameplay have been enhanced and improved, along with much better music and multimedia features, the underlying storyline isn't as strong. <a href="https://github.com/aphorism44/glade1" target="_blank">Code here.</a></dd>
</dl>