<header>
    <h1>Available Programs</h1>
</header>
<br><br>
Below are some links to programs I've published online in a complete format. Incomplete games (or ones that don't warrant publication) may be available at <a href="https://github.com/aphorism44" target="_blank">my GitHub repository</a>.
<br><br>
<ul class="nav nav-pills">
    <li id="programPills" ng-repeat="p in programs"><a href="" ng-click="pCtrl.selectPTab(p.tabNo)" ng-class="{active: pCtrl.isPTabSelected(p.tabNo)}">{{ p.name }}</a> </li>
</ul>
<br>
<dl ng-repeat="p in programs">
    <dt ng-show="pCtrl.isPTabSelected(p.tabNo)">
        <img ng-src="{{p.pGraphic}}" /><br>
        <a href="{{p.pLink}}" target="_blank">{{p.name}}</a><br><br>
        <p>{{ p.pText }}</p><br><br>
        <p><em><a href="{{p.codeLink}}" target="_blank">GitHub repository</a></em></p>
    </dt>
</dl>