<header>
			<h1>Aphorism 44</h1>
			<h2>Source Code Thoughts</h2>
</header>
<br><br>
<ul ng-controller="UpdateCtrl">
    <li ng-repeat="u in updates | orderBy:'-date' track by $index">
        <strong> {{ u.date | date : 'yyyy-MM-dd' }}</strong>: 
       <span ng-bind-html="u.text | trustAsHtml"></span>
    </li>
</ul>